


.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}
header{
    
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.header-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-list ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-list ul li{
    list-style: none;
    padding: 20px;
}
.header-list ul li a{
    text-decoration: none;
}
.searchbar{
    width: 262px;
height: 56px;
color: #0B0223;
border-radius: 8px;
background: rgba(11, 2, 35, 0.10);

}

.searchbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
 
}
.header-img{
    display: flex;
   
}
.header-img ul{
    text-align: left;
}

.header-img div{
    width: 50%;
}
.image{
    background-image: url(./images/Group\ 14.png);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.btn-pink{
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(238, 108, 130);

}
.btn-blue{
    border-radius: 10px;
    padding: 10px;
    background-color: lightskyblue;
}
.mid-gamer{
    display: flex;

   
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.details{
    width: 50%;
    margin: 0 auto;
    text-align: right;
}
.image-gallery{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.funny-videos{
  text-align: center;
}
.extra{
    margin-top: 30px;
    display: flex;
   
    width: 70%;
    height: 600px;
   
   


 
    justify-content: space-between;
    align-items: center;
    position: relative;
   margin-left: 340px;

    
}



.extra-image{
  height: 500px;
position: relative;
  top: -40px;

  

}

.extra-img{
    position: absolute;
 bottom: 0;
 right:330px ;
  

  

 

}
.about{
    width: 80%;
    text-align: left;
}

.grid-container {
    display: grid;

    grid-template-columns: repeat(5, 1fr);
    width: 80%;
  
 
    
    gap: 10px; /* You can adjust the gap between grid items as per your preference */
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
   
   
  }
  
  .grid-item {

   display: flex;justify-content: center;
   align-items: center;
    text-align: center;
   
  }
  .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #0B0223;
    color: white;
    padding: 50px;
}
.footer-top{
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer-desc{
    display: flex;
    gap: 30px;
}

.tweeter ,.facebook{
    margin-right: 20px;
}
.footer-img{height: 40px;
width: 40px;
margin-right: 20px;}


.footer-down{
    display: flex;
    
  
    justify-content: center;
    align-items: center;
    flex-direction: column;
  

}

.footer-terms{
    display: flex;
    gap: 20px;
   
}

.colourful{
    color: palevioletred;
    font-weight: 700;
    font-size: 2rem;
}


.grid-item:hover{
    border: 1px solid black;
    border-radius: 40px;
    background-color: white;
}





@media screen and (max-width: 576px) {
    .footer-desc, .grid-container{
        display: grid;
       
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
        justify-items: center;
    }
    .footer{
        width: 100%;
    }

    .footer-terms{
        display: grid;
       
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        text-align: center;

    }

    .extra{
        flex-direction: column;
        align-items: center;
        margin-bottom: 200px;
    }
    .extra-image{
        top: 20px;
        margin-left:-300px;
    }

    .extra-img{
        bottom: -200px;
    }
    .about{
        text-align: -webkit-center;
        margin-right: 300px;
    }
    .image-gallery{
        flex-direction: column;
        justify-content: center;
    }
    .mid-gamer{
        flex-direction: column;
    }
    .details{
        align-items: center;
    }
    .header-img{
        flex-direction: column;
    }
    .image{
        text-align: center;
        margin: 0 auto;
    }
    .banner-image{
        width:300px;
    }
    .nav-container{
        flex-direction: column;
    }
    .header-list{flex-direction: column;}

    .header-list ul{
        flex-direction: column;
    }
   body{
   

   }

   
  
}

/* tab responsive */
@media screen and (min-width: 577px) and (max-width: 768px) {
 
    .mid-gamer{
        display: flex;
        align-items: center;
    }

    .image-gallery{
       display: flex;
    }

    .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        gap: 10px;
        margin: 0 auto;

    }


  }













  .dis{
    display: none;
}




 .image :hover{
    border: 5px solid black;
  
    border-radius: 10px;

}


.hoverable-div {
    font-size: 18px;
    color: #333;
    position: relative;
    cursor: pointer;
  }
  
  .pause-icon {
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
  }
  .watch-now{
    color: rgb(223, 14, 14);
   
    font-weight: bolder;
  }
  .hoverable-div:hover .pause-icon {
    visibility: visible;
  
  }

  .image:hover{
opacity: .5;
  }
  
